.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 10%;
    padding: 0px;
}

.left
{
    display: block;
    margin-left: 8%;
    margin-right: auto;
}

.right
{
    display: block;
    margin-left: auto;
    margin-right: 8%;
}

.lefttext
{
    display: block;
    margin-left: 13%;
    margin-right: auto;
    font-style: italic;
    font-size: 15px;
}

.righttext
{
    display: block;
    margin-left: auto;
    margin-right: 13%;
    font-style: italic;
    font-size: 15px;
}

.centertext
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 15px;
}


